$text-font: sans-serif;
$title-font: serif;

$light-color: rgb(255, 255, 255) !default;
$dark-color: rgb(0, 0, 0) !default;
$error-color: rgb(255, 0, 0) !default;

$theme-color: rgb(0, 0, 255);

$input-color: rgb(0, 0, 255);

$gutter: 21;

$container-max-width: 1000 + (2 * $gutter);

// Pick values from Fibonacci suite : 0 1 2 3 5 8 13 21 34 55 89
