@import '../../../sass/partials/utils/em';
@import '../../../sass/theme';

.brand {
  margin: 0 0 1em;
  color: $dark-color;
  font-family: $text-font;
  font-size: em(8);
  font-style: italic;
  line-height: 1.4;
  text-align: center;

  &__link {
    color: inherit;
  }
}
