@import '../../../sass/partials/utils/em';
@import '../../../sass/theme';

.form {
  &__input-wrapper {
    position: relative;
    padding-top: em(13);
    margin: 0 0 1em;
  }

  &__simili-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    $color: rgba($dark-color, .3);
    color: $color;
    font-family: $text-font;
    font-size: em(13);
    line-height: 1;
    transition: transform .2s linear, font-size .2s linear, line-height .2s linear;
    will-change: transform, font-size, line-height;
  }

  &__textarea,
  &__input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    $border-bottom-color: rgba($dark-color, .2);
    border-bottom: 1px solid $border-bottom-color;
    background-color: transparent;
    color: $input-color;
    color: var(--input-color, $input-color); // sass-lint:disable-line no-duplicate-properties
    font-family: $text-font;
    font-size: em(21);
    line-height: em(34, 21);
    transition: border-bottom-color .2s ease-in-out;

    &::placeholder {
      $color: rgba($dark-color, .3);
      color: $color;
      opacity: 1;
    }

    &::-ms-input-placeholder { // sass-lint:disable-line no-vendor-prefixes
      $color: rgba($dark-color, .3);
      color: $color;
    }

    &:-ms-input-placeholder { // sass-lint:disable-line no-vendor-prefixes
      $color: rgba($dark-color, .3);
      color: $color;
    }

    &:focus {
      border-color: $input-color;
      border-color: var(--input-color, $input-color); // sass-lint:disable-line no-duplicate-properties
      outline: none;
    }
  }

  &__textarea:not(:-webkit-autofill):placeholder-shown + &__simili-placeholder,
  &__input:not(:-webkit-autofill):placeholder-shown + &__simili-placeholder {
    font-size: em(21);
    line-height: em(34, 21);
    transform: translate(0, em(13, 21));
  }

  &__textarea {
    height: em(34, 21);
    min-height: em(34, 21);
    box-sizing: content-box;
    resize: vertical;
  }

  &__radio-group {
    padding: 0;
    margin: 0;
    border: 0;
  }

  &__radio,
  &__checkbox {
    position: absolute;
    margin: 0;
    opacity: 0;
  }

  &__label {
    display: block;
    width: 100%;
    margin: 0 0 em(13, 21);
    color: $dark-color;
    font-family: $title-font;
    font-size: em(21);
    line-height: 1.3;
    text-align: center;

    a {
      color: $dark-color;
      transition: color .2s ease-in-out;

      &:hover,
      &:active,
      &:focus {
        color: $input-color;
        color: var(--input-color, $input-color); // sass-lint:disable-line no-duplicate-properties
      }
    }
  }

  &__radio + &__label,
  &__checkbox + &__label {
    position: relative;
    box-sizing: border-box;
    padding-left: em(34, 13);
    margin: 0 0 em(21, 13);
    font-family: $text-font;
    font-size: em(13);
    line-height: 1.4;
    text-align: left;
    cursor: pointer;
    transition: color .2s ease-in-out;

    &::before {
      content: ' ';
      position: absolute;
      top: 50%;
      left: 0;
      height: em(21, 13);
      width: em(21, 13);
      background-color: $light-color;
      $box-shadow-color: rgba($dark-color, 0);
      box-shadow: 0 0 1em $box-shadow-color;
      transform: translateY(-50%);
      transition: box-shadow .2s ease-in-out;
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  &__radio + &__label {
    &::before {
      border-radius: 50%;
    }

    &::after {
      content: ' ';
      height: em(5, 13);
      width: em(5, 13);
      margin-left: em(((21-5)/2), 13);
      border-radius: 50%;
      background-color: $light-color;
      transition: background-color .2s ease-in-out;
    }
  }

  &__checkbox + &__label {
    &::after {
      content: '✓';
      display: inline-block;
      height: em(21, 13);
      width: em(21, 13);
      color: $light-color;
      line-height: em(21+2, 13);
      text-align: center;
      transition: color .2s ease-in-out;
    }
  }

  &__radio:checked + &__label,
  &__radio:checked + &__label a { // sass-lint:disable-line force-pseudo-nesting
    color: $input-color;
    color: var(--input-color, $input-color); // sass-lint:disable-line no-duplicate-properties

    &::after {
      background-color: $input-color;
      background-color: var(--input-color, $input-color); // sass-lint:disable-line no-duplicate-properties
    }
  }

  &__checkbox:checked + &__label,
  &__checkbox:checked + &__label a { // sass-lint:disable-line force-pseudo-nesting
    &,
    &::after {
      color: $input-color;
      color: var(--input-color, $input-color); // sass-lint:disable-line no-duplicate-properties
    }
  }

  &__radio:focus + &__label, // sass-lint:disable-line force-pseudo-nesting
  &__checkbox:focus + &__label { // sass-lint:disable-line force-pseudo-nesting
    &::before {
      $box-shadow-color: rgba($dark-color, .2);
      box-shadow: 0 0 1em $box-shadow-color;
    }
  }

  &__button {
    display: block;
    width: 100%;
    padding: em(6.5, 13) 1em;
    margin: 0 auto;
    border: 0;
    border-radius: em(5, 13);
    background-color: $input-color;
    background-color: var(--input-color, $input-color); // sass-lint:disable-line no-duplicate-properties
    color: $light-color;
    font-family: $text-font;
    font-size: em(13);
    font-weight: bold;
    line-height: em(21, 13);
    letter-spacing: em(3, 13);
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color .2s ease-in-out, transform .2s ease-in-out;

    &:focus {
      outline: none;
    }

    &:hover,
    &:active,
    &:focus {
      $background-color: darken($input-color, 25%);
      background-color: $background-color;
      background-color: var(--input-color, $background-color); // sass-lint:disable-line no-duplicate-properties
      transform: translateY(em(1, 13));
    }
  }

  &__error {
    margin: 1em 0 0;
    color: $error-color;
    font-family: $text-font;
    font-size: em(13);
    line-height: 1.4;
    text-align: center;
  }

  &__confirmation {
    margin: em(13, 13) 0 0;
    color: $dark-color;
    font-family: $text-font;
    font-size: em(13);
    line-height: 1;
    text-align: center;

    .emoji {
      font-size: em(34, 13);
      line-height: 1;
    }

    a {
      color: $input-color;
    }
  }

  &__spinner {
    display: block;
    margin: em(13) auto 0;
  }

  &__recaptcha-badge {
    margin-top: em(13, 8);
    color: $dark-color;
    font-family: $text-font;
    font-size: em(8);
    font-style: italic;
    line-height: 1.4;
    text-align: center;

    a {
      color: $dark-color;
      transition: color .2s ease-in-out;

      &:hover,
      &:active,
      &:focus {
        color: $input-color;
        color: var(--input-color, $input-color); // sass-lint:disable-line no-duplicate-properties
      }
    }
  }
}

