@import '../../../sass/partials/utils/em';
@import '../../../sass/theme';

:host {
  all: initial;
}

.widget {
  display: block !important;
  box-sizing: border-box;
  $border-color: rgba($dark-color, .1);
  border: 1px solid $border-color;
  border-radius: em(5);
  overflow: hidden;
  background-color: $light-color;
  background-color: var(--intro-background, $light-color); // scss-lint:disable-line no-duplicate-properties
  $box-shadow-color: rgba($dark-color, .2);
  box-shadow: 0 0 em(5) $box-shadow-color;
  line-height: 0;

  p,
  label,
  input,
  textarea,
  button {
    @mixin selection {
      background-color: $dark-color;
      background-color: var(--intro-color, $dark-color); // scss-lint:disable-line no-duplicate-properties
      color: $light-color;
      color: var(--intro-background, $light-color); // scss-lint:disable-line no-duplicate-properties
    }

    &::selection {
      @include selection;
    }

    &::-moz-selection { // scss-lint:disable-line no-vendor-prefixes
      @include selection;
    }
  }

  &__intro,
  &__form {
    padding: em(21);
  }

  &__cta {
    padding: em(21);
    margin: 0;
  }

  &__ill {
    max-width: 100%;
  }

  &__form {
    $background-color: rgba($dark-color, .07);
    background-color: $background-color;
    background-color: var(--form-background, $background-color); // scss-lint:disable-line no-duplicate-properties
  }
}
