@import '../../../sass/partials/utils/em';
@import '../../../sass/theme';

.cta {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: em(6.5, 13) 1em;
  margin: 0 auto;
  border: 0;
  border-radius: em(5, 13);
  background-color: $input-color;
  background-color: var(--input-color, $input-color); // sass-lint:disable-line no-duplicate-properties
  color: $light-color;
  font-family: $text-font;
  font-size: em(13);
  font-weight: bold;
  line-height: em(21, 13);
  letter-spacing: em(3, 13);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color .2s ease-in-out, transform .2s ease-in-out;

  &:focus {
    outline: none;
  }

  &:hover,
  &:active,
  &:focus {
    $background-color: darken($input-color, 25%);
    background-color: $background-color;
    background-color: var(--input-color, $background-color); // sass-lint:disable-line no-duplicate-properties
    transform: translateY(em(1, 13));
  }
}
