.legals {
  padding-top: em(55);
  padding-bottom: em(55);

  &__title {
    margin: 0 0 1em;
    font-size: em(34);
    text-align: center;
  }

  p {
    margin: 0;
    font-size: em(13);

    &:not(:first-child) {
      margin-top: 1em;
    }
  }
}
